* {
    /* outline: 1px solid wheat; */
    transition: background 1s;
}
:root {
    --dark-main-bg: rgb(19, 19, 19);
    --light-main-bg: white;
    --light-color: black;
    --dark-color: white;
    
    --dark-second: rgb(40, 40, 40);
    --light-second: grey;
    --blue: rgb(16, 67, 139);
}
html {
    height: 100vh;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    min-width: 780px;
    margin: 0;
    padding: 0;
    background-color: var(--dark-main-bg);
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;

    
}
.m {
    
   display: flex;
   justify-content: start;
   align-items: stretch;
   height: 100vh;
    flex: 1;    
}
.left{
    width: clamp(160px, 250px, 290px);
    
    flex: 1 1 auto;
    
    
    background-image: linear-gradient(180deg, rgb(40, 40, 40), rgb(19, 19, 19));
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0;
    padding-right: min(2%, 10px);
    margin-right: min(2%, 20px);
}
.list {
    
    margin-left: 0;
    padding: 50px;
    padding-left: 30%;
    
}
.list ul {
    padding: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--dark-color);
    background-color: rgb(16, 67, 139);
    
    font-size: 22px;

    border-radius: 3%;
    width: clamp(min(100%, 200px), 100%,60%);
    height: 70px;
    
  
    margin-bottom: 0%;
    margin-top: 10%;
    margin-left: 10%;
    padding: 12px;
    
}

.list li {
    width: 40px;
    height: 40px;
    font-size: 22px;
    list-style: none;
    margin-bottom: 60px;

}

.list a{
    padding: 0;
    box-sizing: border-box;
    transition: font-size 600ms;
    text-decoration: none;
    color: var(--dark-color);
    
}
.list a:hover{
    color: rgb(16, 67, 135);
    font-size: 36px;
   
}
.right{
    flex: 2 1 auto;
    grid-column: 2;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}
.top  {
    flex-shrink: 1;
    margin: 20px;  
    height: 90%;

    display: flex;
    justify-content: space-between;

    margin-right: 0;  
}
.center {
    width: clamp(80%,80%,80%);
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header {
   color: var(--dark-color);
    
}
.main {
 
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    grid-template-rows: 1fr 1fr ;
    gap: 5%;
    overflow-y: auto;

}

.card {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    box-sizing: border-box;
    color:  var(--light-main-bg);
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    height: 300px;
    padding: 15px;
    /* filter: blur(2px); */
   
}
.card h3{
    margin: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    filter: blur(0px);
}
.link {
    margin-top: 10%;
}
.card a{
    text-decoration: none;
    color: var(--dark-color);
}
.desc {
    max-width: 80%;
    font-stretch: condensed;
    font-size: 15px;
}

.sideline {
    min-width: clamp(150px, 15%,20%);
    background-color:  var(--dark-color);
    color: rgb(16, 67, 135);;
    margin: 10% 0;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}
.sideline p{
    max-width: 300px;
    padding-left: 20px;
    color: black;
    
}
.sideline a{
    color: rgb(16, 67, 135);
    text-decoration: none;
}



.footer {
    height: 10%;
    margin-bottom: 0;
    display: flex;
   justify-content: start;
   margin-left: 35%;
}

.theme {
    background-color: white;
    border-radius: 10%;
    margin-top: 80%;
    margin-left: 10%;
}